@charset "utf-8";
/*  초기화 */
* { box-sizing: border-box; }
body, h1, h2, h3, h4, ul, li, p, dl, dt, dd,  figure, input { margin: 0; padding: 0; }
ul li { list-style: none; }
a { text-decoration: none; }
address { font-style: normal; }
hr, .hidden { display: none; }

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body { position: relative; font-family: 'GmarketSansMedium', sans-serif }
/*  헤더 */
#header { overflow: hidden; width: 100%; height: 80px; margin: 0 auto; padding-top: 0;
    box-sizing: border-box; z-index: 999; position: relative; transition: 1s;
    display: flex; justify-content: center;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5); }
#header:hover { overflow: visible; transition: 0.3s; }
#header h1 { position: relative; z-index: 9999; width: 100%; left: 0; }
#header h1 a { display: block; height: 68px; width: 168px; text-indent: -9999px;
                           background: url(../images/bombomLogo.png); }
/*  네비 */
nav#gnb { position: absolute; top: 0; left: 0; z-index: -999; width: 100%; height: 435px; background: #fff; border-bottom: 1px solid #ccc; }
nav#gnb > ul { position: relative; width: 780px; margin: 35px auto; text-align: center; display: flex; justify-content: space-evenly; }
nav#gnb > ul > li:hover { color: #ff1c38; }
nav#gnb > ul > li > a { position: relative; display: block; height: 53px; font-size: 18px; color: #000;  }
nav#gnb > ul > li:hover > a {  color: #ff1c38; }
nav#gnb > ul > li > ul { padding-top: 10px; }
nav#gnb > ul > li > ul li { line-height: 40px; }
nav#gnb > ul > li > ul li a { color: #000; font-size: 16px; }
.subWrap li a { display: block; z-index: 999px; height: 40px; }
.subWrap li a:hover { display: block; border-bottom: 2px solid #ff1c38;  }
/*  배너 */
#main_visual_wrap { width: 100%; height: 780px; position: relative;
                                     box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5); }
#bannerWrap { overflow: hidden; width: 1440px; margin: 0 auto; display: flex; }
.banner { width: 100%; height: 700px; position: relative; margin-right: 400px; }
.banner h3 { position: absolute; top: 180px; left: 50px; font-size: 60px; font-family: 'GmarketSansLight'; }
.banner p { position: absolute; top: 420px; left: 50px; font-size: 24px; line-height: 40px; }
.banner img { position: absolute; top: 0; left: -220px; z-index: -999;}
.banner .bannerWrap { width: 1440px; margin: 0 auto; }
/*  슬러시 배너 */
#slush_banner {  }
#slush_banner .slush h3 span { font-size: 70px; font-family: 'GmarketSansBold'; }
#slush_banner .slush h3 span:nth-child(2) { color: #000000; font-family: 'GmarketSansBold';
                                                                                text-decoration: underline; text-underline-position:under;
                                                                                text-decoration-thickness: 5px; }
#slush_banner .slush h3 span:nth-child(4) { color: #238bff; font-family: 'GmarketSansBold'; }
#slush_banner .slush p span { font-family: 'GmarketSansBold'; }
/*  스틱 배너 */
#stick_banner .stick h3 span { font-size: 70px; color: #313131; font-family: 'GmarketSansBold'; }
#stick_banner .stick h3 span:nth-child(1) { color: #f7d170; font-family: 'GmarketSansBold'; }
#stick_banner .stick h3 span:nth-child(2) { color: #544033; font-family: 'GmarketSansBold'; }
#stick_banner .stick p span { font-family: 'GmarketSansBold'; color: #000; }
#stick_banner .stick p span:nth-child(4) { color: #f7d170; }
#stick_banner .stick p span:nth-child(5) { color: #544033; }
/*  딸기 배너 */
#strawberry_banner .strawberry h3 span { font-size: 70px; color: #f42424; font-family: 'GmarketSansBold'; }
#strawberry_banner .strawberry h3 span:nth-child(3) { text-decoration: underline;
                                                                                                      text-underline-position:under;
                                                                                                      text-decoration-thickness: 5px; }
#strawberry_banner .strawberry p span { font-family: 'GmarketSansBold'; color: #ff5555; }
/*  시그니처 배너 */
#signatory_banner .signatory h3 span { font-size: 70px; color: #116a52; font-family: 'GmarketSansBold'; }
#signatory_banner .signatory p span { font-family: 'GmarketSansBold'; color: #116a52; }
/*  배너 버튼 */
.slider_button { z-index: 99; position: absolute; bottom: 70px; left: calc(50% - 350px); display: flex;}
.slider_button a { display: block; width: 135px; height: 30px; margin: 0 21px;
                                font-size: 16px; line-height: 30px; text-align: center; color: #000; }
.slider_button a:nth-child(1)::before { content: ""; position: absolute; bottom: 0; left: 21px;
                                                                  width: 135px; height: 2px; background-color: rgba(0,0,0,.3); }
.slider_button a:nth-child(2)::before { content: ""; position: absolute; bottom: 0; left: 196px;
                                                                  width: 135px; height: 2px; background-color: rgba(0,0,0,.3); }
.slider_button a:nth-child(3)::before { content: ""; position: absolute; bottom: 0; left: 375px;
                                                                  width: 135px; height: 2px; background-color: rgba(0,0,0,.3); }
.slider_button a:nth-child(4)::before { content: ""; position: absolute; bottom: 0; left: 553px;
                                                                  width: 135px; height: 2px; background-color: rgba(0,0,0,.3); }
.slider_button a.active2::after {     content: ''; position: absolute; bottom: 0; left: 21px;
                                                                    width: 135px; height: 2px; background-color: #000;
                                                                    animation-name: slider-progress;
                                                                    animation-duration: 3.5s;
                                                                    animation-iteration-count: infinite;
                                                                    }
/* .slider_button a:nth-child(2)::after {     content: ''; position: absolute; bottom: 0; left: 196px;
                                                                    width: 135px; height: 2px; background-color: #000;
                                                                    animation-name: slider-progress;
                                                                    animation-duration: 3.5s; }
.slider_button a:nth-child(3)::after {     content: ''; position: absolute; bottom: 0; left: 375px;
                                                                    width: 135px; height: 2px; background-color: #000;
                                                                    animation-name: slider-progress;
                                                                    animation-duration: 3.5s; }
.slider_button a:nth-child(4)::after {     content: ''; position: absolute; bottom: 0; left: 553px;
                                                                    width: 135px; height: 2px; background-color: #000;
                                                                    animation-name: slider-progress;
                                                                    animation-duration: 3.5s; } */

    @keyframes slider-progress {
        from { width: 0; }
        to { width: 135px; }
    }
/*  브랜드 스토리 */
#brand_story_wrap { height: 700px; display: flex; }
.visual {  width: 60%; height: 700px;
                background: url(../images/section-1_bg.jpg) no-repeat right center / cover ; }
.text_box { width: 40%; height: 700px; color: #000; margin: 115px 0 0 50px; opacity: 0; }
.text_box p:nth-child(1) { font-size: 20px; }
.text_box p:nth-child(3) { font-size: 24px; }
.text_box span { color: #ff5555; }
.text_box h3 { font-size: 56px; font-family: 'GmarketSansBold'; margin: 10px 0 35px 0; }
.text_box a { position: relative; display: block; color: #000; margin-top: 30px; font-size: 20px; }
.text_box a:hover::after { content: ""; display: block; height: 5px;
    border-bottom: 5px solid #ff5555; width: 168px;
    animation-name: brand-progress;
                                                                    animation-duration: 1.5s; }
@keyframes brand-progress {
        from { width: 0; }
        to { width: 168px; }
    }
/*  베스트 신메뉴 */
#best_new { overflow: hidden; width: 100%; height: 830px; position: relative;
                       margin-left:auto; margin-right:auto; text-align: center; }
#best_new .on::after { content: ""; display: block;
                                        border-bottom: 6px solid #ff9173;
                                        margin: 10px auto;  }
#best_new p { margin: 50px 0 30px; line-height: 40px; font-size: 20px; font-family: 'GmarketSansLight'; }
#product { width: 1440px; margin: 0 auto; height: 830px; margin: 0 auto; position: relative; display: flex; justify-content: center; }
.bsnw {   }
.bsnw h3 { margin-bottom: 10px; font-size: 32px; padding: 0 20px; height: 55px;  }
.bsnw ul { display: flex; align-items: center; justify-content: space-evenly; margin-top: 50px;
                  width:100%; text-align:center; height: 500px; position: absolute; top: 0; left: 0; }
.bsnw ul li { width: 25%; height: 460px; position: relative; text-align: center; display: flex; align-items: center; justify-content: center; }
.bsnw ul li a { color: #767676; font-size: 16px; }
.bsnw ul li a figure figcaption { width: 100%; position: absolute; bottom: -20px; left: 0;  }
.bsnw ul li a figure span { color: #000; font-size: 24px; }
.best { z-index: 999;  }
.new ul { display: none; }
.new h3 { color: gray; }
.bsnwBg { position: absolute; top: 0; left: 0; z-index: -9; width: 100%; height: 615px; background: #fffbeb; }

/* 스토어 */
#store { position: relative; width: 1440px; margin: 0 auto; padding: 250px 0 100px;
        display: flex; justify-content: space-around; }
#store dl { position: absolute; top: 0; text-align: center; }
#store dl h3 { font-size: 36px; font-family: 'GmarketSansBold'; }
#store dl dt { font-size: 56px; font-family: 'GmarketSansBold'; text-transform: uppercase; margin: 30px 0; }
#store dl dd { line-height: 40px; font-family: 'GmarketSansLight'; font-size: 20px; }
#store article { text-align: center; }
.store { position: relative; width: 325px; height: 450px; display: flex; flex-flow: column;
          box-shadow: 0 1px 1px rgba(0,0,0,0.03),
          0 0px 2px rgba(0,0,0,0.03),
          0 2px 4px rgba(0,0,0,0.03),
          0 4px 8px rgba(0,0,0,0.03),
          0 8px 16px rgba(0,0,0,0.03),
          0 16px 32px rgba(0,0,0,0.03);}
.store:hover::before { content:""; position: absolute; top: 0; left: 0; width: 325px; height: 450px; box-sizing: border-box; }
.store h3 { font-size: 36px; font-weight: bold; margin: 20px 0; }
.store h3 span { font-size: 18px; font-family: 'GmarketSansMedium'; }
#store a { color: #000; }
#find_store { background: #ffded9 no-repeat center; background-image: url(../images/find_btn.png);
               background-position-y: 135px;
               }
#find_store:hover::before { border: 5px solid #ff8978; }
#find_store h3 { color: #f07461; position: relative; }
#find_store .fsag { position: relative; width: 250px; margin: 120px auto 60px; border-bottom: 2px solid #000;  }
#find_store .fsag .find { height: 35px; width: 200px; border: none; background: none; outline: 0; }
#find_store .fsag .find::placeholder { font-size: 16px; color: #000; }
#find_store .fsag .find_btn { height: 20px; background: url(../images/find_btn2.png) no-repeat center;
                                                   border: none; color: transparent; }
#find_store a:hover { background: #f67676; color: #fff; }
#find_store a { position: relative; transition: 0.5s; display: block; width: 168px; height: 47px; background: #fff; color: #000;
                            border-radius: 50px; margin: 0 auto; display: flex; align-items: center; justify-content: center;
                            box-shadow: 0 1px 1px rgba(0,0,0,0.0),
                                                    0 0px 2px rgba(0,0,0,0.03),
                                                    0 2px 4px rgba(0,0,0,0.03),
                                                    0 4px 8px rgba(0,0,0,0.03),
                                                    0 8px 16px rgba(0,0,0,0.03),
                                                    0 16px 16px rgba(0,0,0,0.03); }
#new_store { background: #ffe5b0 no-repeat center;
               background-image: url(../images/store2.png);
               background-position-y: 135px; }
#new_store:hover::before { border: 5px solid #feb522;  }
#new_store h3 { color: #a88132; }
#new_store p {  font-size: 22px; font-family: 'GmarketSansLight'; margin-bottom: 15px; }
#new_store ul li { line-height: 30px; font-size: 16px;}
.nsag { margin-top: 80px; }
#franchise_store { background: #dbd5ff no-repeat center;
                                 background-image: url(../images/information.png);
                                 background-position-y: 135px;}
#franchise_store:hover::before { border: 5px solid #5a3dff;  }
#franchise_store h3 { color: #6d5bd1; }
#franchise_store .fcag { position: relative; margin: 80px 0 15px; }
#franchise_store .fcag p { font-size: 16px; line-height: 30px; }
#franchise_store a:hover { background: #9388eb; color: #fff; }
#franchise_store a { position: relative; transition: 0.5s; display: block; width: 168px; height: 47px; background: #fff; color: #000;
    border-radius: 50px; margin: 0 auto; display: flex; align-items: center; justify-content: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.0),
                            0 0px 2px rgba(0,0,0,0.03),
                            0 2px 4px rgba(0,0,0,0.03),
                            0 4px 8px rgba(0,0,0,0.03),
                            0 8px 16px rgba(0,0,0,0.03),
                            0 16px 16px rgba(0,0,0,0.03); }
/*  하단 */
#goodsBanner { width: 100%; height: 457px; position: relative; 
    background: url(../images/lowerBg1.png) no-repeat center / cover; }
#mapBanner { width: 100%; height: 287px;
background: url(../images/lowerBg2.png) no-repeat center / cover; }
.low { display: flex; flex-flow: column; align-items: center; justify-content: center; position: relative;
}
.low h3 { color: #fff; font-size: 30px; font-family: 'GmarketSansBold'; margin-bottom: 70px; z-index: 9; }
.low a { display: block; width: 168px; height: 47px; background: #fff; color: #000; font-weight: bold; transition: 0.5s;
border-radius: 50px; margin: 0 auto; display: flex; align-items: center; justify-content: center; z-index: 9; }
.low a:hover { background: #000; color: #fff;  }
.low::before { content: ""; position: absolute; top: 0; left: 0;
width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); }
/*  푸터 */
#footer { width: 100%; background: #e54362; }
.companyInfo { width: 1440px; margin: 0 auto; padding-top: 80px; position: relative; }
.companyInfo em { color: #fff; font-family: 'GmarketSansBold'; font-style: normal; text-transform: uppercase; }
.companyInfo p { color: #fff; font-style: normal; font-family: 'GmarketSansLight'; margin-top: 25px; line-height: 30px;}
.companyInfo address { color: #fff; font-style: normal; font-family: 'GmarketSansLight';  }
.companyInfo .sns { width: 67px; height: 25px; margin-top: 25px; display: flex; justify-content: space-between; }
.companyInfo .sns a { width: 20px; height: 20px; text-indent: -9999px; display: block;   }
.companyInfo .sns a:nth-child(1) { background: url(../images/sns_logo_insta.png) no-repeat center; }
.companyInfo .sns a:nth-child(2) { background: url(../images/sns_logo_facebook.png) no-repeat center; }
.companyInfo .sns a:nth-child(3) { background: url(../images/sns_logo_naver.png) no-repeat center; }
.companyInfo .footerLogo { display: block; width: 177px; height: 72px; margin-bottom: 25px;
                                                  background: url(../images/footerLogo.png) no-repeat center;
                                                  text-indent: -9999px; position: absolute; bottom: 0; right: 0;  }
