@charset "utf-8";
/*  초기화 */
* { box-sizing: border-box; }
body, h1, h2, h3, h4, ul, li, p, dl, dt, dd,  figure, input { margin: 0; padding: 0; }
ul li { list-style: none; }
a { text-decoration: none; }
address { font-style: normal; }
hr, .hidden { display: none; }

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body { position: relative; font-family: 'GmarketSansMedium', sans-serif; min-width: 1440px; }
/*  헤더 */
#header { position: absolute; top: 0; left: 0; overflow: hidden; width: 100%; height: 80px; margin: 0 auto; padding-top: 0;
          box-sizing: border-box; z-index: 999; transition: 0.3s;
          display: flex; justify-content: center;
          box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5); }
#header::after { content: ""; position: absolute; top: 80px; left: 0; width: 100%; border-bottom: 1px solid #dadada; }
#header:hover { height: 350px; }
#header h1 { position: absolute; z-index: 9999; top: 5px; left: 20px; }
#header h1 a { display: block; height: 68px; width: 168px; text-indent: -9999px;
                           background: url(../images/bombomLogo.png); }
/*  네비 */
nav#gnb { position: absolute; top: 0; left: 0; z-index: -999; width: 100%; height: 435px;
         background: #fff; border-bottom: 1px solid #ccc; }
nav#gnb > ul { position: relative; width: 780px; margin: 35px auto; text-align: center; display: flex; justify-content: space-evenly; }
nav#gnb > ul > li:hover { color: #ff1c38; }
nav#gnb > ul > li > a { position: relative; display: block; height: 53px; font-size: 18px; color: #000;  }
nav#gnb > ul > li:hover > a {  color: #ff1c38; }
nav#gnb > ul > li > ul { padding-top: 10px; }
nav#gnb > ul > li > ul li { line-height: 40px; }
nav#gnb > ul > li > ul li a { color: #000; font-size: 16px; }
.subWrap li a { display: block; z-index: 999px; height: 40px; }
.subWrap li a:hover { display: block; border-bottom: 2px solid #ff1c38;  }
/*  푸터 */
#footer { width: 100%; background: #e54362; }
.companyInfo { width: 1440px; margin: 0 auto; padding-top: 80px; position: relative; }
.companyInfo em { color: #fff; font-family: 'GmarketSansBold'; font-style: normal; text-transform: uppercase; }
.companyInfo p { color: #fff; font-style: normal; font-family: 'GmarketSansLight'; margin-top: 25px; line-height: 30px;}
.companyInfo address { color: #fff; font-style: normal; font-family: 'GmarketSansLight';  }
.companyInfo .sns { width: 67px; height: 25px; margin-top: 25px; display: flex; justify-content: space-between; }
.companyInfo .sns a { width: 20px; height: 20px; text-indent: -9999px; display: block;   }
.companyInfo .sns .insta { background: url(../images/sns_logo_insta.png) no-repeat center; }
.companyInfo .sns .facebook { background: url(../images/sns_logo_facebook.png) no-repeat center; }
.companyInfo .sns .naver { background: url(../images/sns_logo_naver.png) no-repeat center; }
.companyInfo .footerLogo { display: block; width: 177px; height: 72px; margin-bottom: 25px;
                                                  background: url(../images/footerLogo.png) no-repeat center;
                                                  text-indent: -9999px; position: absolute; bottom: 0; right: 0;  }
/*  top 버튼 */
a#MOVE_TOP_BTN {
    position: fixed;
    right: 2%;
    bottom: 50px;
    display: none;
    z-index: 99999;
    width: 52px; height: 73px;
    text-indent: -99999px;
    transition: 0.5s;
    background: url(../images/b_logo.png) no-repeat center / cover;
    }
    a#MOVE_TOP_BTN:hover { background: url(../images/b_logo2.png) no-repeat center / cover; }
