@charset "utf-8";
nav#gnb > ul > li > .page { color: #ff1c38; }
/*  about us */
#about_us { width: 100%; margin: 0 auto; position: relative; text-align: center; height: 1330px;
                       padding-top: 70px; }
#about_us h2 { font-size: 60px; line-height: 100px; }
#about_us p { position: relative; font-size: 24px; color: #fff; margin-bottom: 40px; }
.au_text { width: 100%; height: 472px; text-align: center; text-transform: uppercase;
                 color: #fff; padding-top: 190px; box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.5);
                 background: url(../images/brand_story-bg.jpg) no-repeat center / cover; }
#about_us > dl dt {  position: relative; font-size: 60px; margin: 100px 0; }
#about_us > dl dd {  position: relative; font-size: 28px; font-family: 'GmarketSansLight'; line-height: 50px; }
.concept { position: relative; width: 1440px; height: 350px; margin: 0 auto; }
.concept ul {  position: relative; display: flex; justify-content: center; align-items: center; 
                       width: 1440px; text-align: center; position: relative; top: 80px; }
.concept ul li { width: 390px; height: 245px; }
.concept ul li > dl { margin-top: 170px; }
.concept ul li > dl dt { margin-top: 120px; font-size: 21px; font-family: 'GmarketSansLight'; }
.concept ul li > dl dd { font-size: 24px; }
.shop  { background: url(../images/shop.png) no-repeat center ; transition: 1s;
              background-position-y: 40px; }
.shop:hover { background: url(../images/shop-b.png) no-repeat center ; 
                         background-position-y: 40px }
.mood { background: url(../images/mood.png) no-repeat center ;
               background-position-y: 40px; border: 1px solid #bbbbbb; border-top: hidden; border-bottom: hidden; }
.mood:hover { background: url(../images/mood-b.png) no-repeat center ;
                          background-position-y: 40px }
.drink { background: url(../images/drink.png) no-repeat center ;
              background-position-y: 40px; }
.drink:hover { background: url(../images/drink-b.png) no-repeat center ;
                         background-position-y: 40px; }
/*  history */
#history { width: 100%; height: 2060px; position: relative; top: 0; margin: 0 auto;
                   display: flex; flex-flow: column; justify-content: center; align-items: center; }
#history h2 {  font-size: 60px; margin-top: 60px; }
#history ul { position: relative; top: 50px; margin: 50px 0; width: 1440px; 
                       display: flex; flex-flow: column; justify-content: center; align-items: flex-start; }
.year { font-size: 40px; font-family: 'GmarketSansBold'; margin-top: 30px; width: 1440px;
             border-bottom: 3px solid #000; padding-bottom: 30px; }
#history ul li ol { font-size: 20px; color: #5b5b5b; padding-left: 0;  }
#history ul li ol li {  }
#history ul li ol li span { font-family: 'GmarketSansBold'; color: #000; }

