@charset "utf-8";

/*  about us */
#about_us { width: 1440px; margin: 0 auto; position: relative; text-align: center; height: 780px;
                       padding-top: 200px; }
#about_us > dl dt { font-size: 60px; margin-bottom: 60px; }
#about_us > dl dd { font-size: 28px; font-family: 'GmarketSansLight'; line-height: 50px; }
.concept { width: 1440px; height: 350px; }
.concept ul { display: flex; justify-content: center; align-items: center; 
                       width: 1440px; text-align: center; position: relative; top: 80px; }
.concept ul li { width: 390px; height: 245px; }
.concept ul li > dl { margin-top: 170px; }
.concept ul li > dl dt { margin-top: 120px; font-size: 21px; font-family: 'GmarketSansLight'; }
.concept ul li > dl dd { font-size: 24px; }
.shop  { background: url(../images/shop.png) no-repeat center ;
              background-position-y: 40px; }
.mood { background: url(../images/mood.png) no-repeat center ;
               background-position-y: 40px; border: 1px solid #bbbbbb; border-top: hidden; border-bottom: hidden; }
.drink { background: url(../images/drink.png) no-repeat center ;
              background-position-y: 40px; }
/*  history */
#history { width: 100%; height: 3100px; position: relative; top: 0; margin: 0 auto;
                   display: flex; flex-flow: column; justify-content: center; align-items: center; }
#history h2 { font-size: 60px; }
#history ul { position: relative; top: 50px; margin: 50px 0; width: 1440px; 
                       display: flex; flex-flow: column; justify-content: center; align-items: flex-start; }
.year { font-size: 40px; font-family: 'GmarketSansBold'; margin-top: 50px; }
#history ul li ol { font-size: 20px; color: #5b5b5b; border-bottom: 3px solid #000; }
#history ul li ol li {  }
#history ul li ol li span { font-family: 'GmarketSansBold'; color: #000; }

